.button-container {
    width: 391px;
    background: gray;
    overflow-y: auto;
}

.button-container button {
    width: 100px;
    height: 100px;
    float: left;
    background: lightgray;
    margin: 15px;
}

.centerdiv {
    display: flex;
    justify-content: center;
}